.container {
    max-width: 700px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0 auto;
    height: 100vh;
    background-color: #F2F2F2;
}

ul {
    list-style-type: none;
    padding: 15px;
}

header {
    padding: 15px;
    background-color: #537EFF;
    color: #fff
}

footer {
    padding: 0 15px;
    background-color: #032380;
    color: #fff;
}
